@charset "ISO-8859-1";
/* CSS Document */

body {
	background: #333;
	font: 12px Arial, Helvetica, sans-serif;
	color: #FFF;
}

#canvas_holder {
	margin: 0 auto;
    margin-top: 150px;
	width: 800px;
	height: 400px;
	background: #FFF;
	animation: flou 2s;
}

h1{
    text-align: center;
	animation: flou 2s;
}

@keyframes flou {
    from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#hide_text{
	color: #333;
	font-size: 40px;
	margin-top: -280px;
	margin-left: 180px;
	opacity: 0;
}